<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Employees
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>

    <ion-item *ngFor="let item of employeesList" (click)="getEmployeeDetails(item)">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2>{{item.first_name+' '+item.last_name}}</h2>
        <p>{{item.emp_no}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreEmployees($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more Employees...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
